<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter user name" formControlName="userName" required />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter password" formControlName="password" required />
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
      <form [formGroup]="secondFormGroup">
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" placeholder="Ex. 1 Main St, New York, NY"
                 required />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext name="step2" (click)="goToStep2()" >Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>UpLoad Photo</ng-template>
      <hr>
      <p>Your details :- </p>
      <p>UserName : {{userName }}</p>
      <p>Password : {{password}}</p>
      <p>Address : {{address}}</p>
      <hr>
      
      <!---
      <app-file-uploader-progress-bar [fromParentToChild]="newUser" /> 
      ---->
      <app-image-upload [fromParentToChild]="newUser" />      

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <!--
        <button mat-button (click)="save()">Save</button>
        -->
      </div>
    </mat-step>
  </mat-stepper>
